<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
<meta charset="UTF-8">

</head>
<body>
	
	<header th:replace="plantilla/template :: header"></header>
	
	<div class="contenedor">
		<center><h1 ><br>CONTROL DE VACUNAS 2020</br></h1></center>
	<img  src="/img/img.png">
	
	<center><h2 class="sub-titulo">INFORMACIÓN SOBRE LA IMPORTANCIA DE LAS VACUNAS</h2></center>
	
<p>Un importante reto en materia de seguridad de la inmunización es garantizar la calidad y la seguridad de las vacunas desde las etapas de desarrollo que incluyen los estudios clínicos, producción de la vacuna, control de calidad y distribución y uso de la vacuna, donde se deben llevar a cabo, adecuadas prácticas de inmunización.</p>
<p>La regulación de las vacunas implica, además de la realización de pruebas complejas, procedimientos adicionales destinados a garantizar su calidad y seguridad, como son: la caracterización de las materias primas mediante auditorías de los proveedores, los bancos de células, los sistemas de lotes de siembra, el cumplimiento de los principios contemplados en las buenas prácticas de manufactura, la liberación lote a lote por autoridades nacionales de regulación plenamente funcionales, demostracíon de la consistencia de producción y la mejora de la vigilancia, pre y post-comercialización, de los posibles incidentos adversos tras el uso de estas vacunas. Estos procedimientos contribuyen a garantizar la calidad, eficacia y seguridad de las vacunas.</p>
<center><h4>Vacunas y seguridad</h4></center>

<p>Las vacunas son seguras y eficaces. Dado que las vacunas se administran a millones de personas saludables, incluidos niños, para prevenir enfermedades graves, están sujetas a estándares de seguridad muy altos.</p>

<center><h2>¿Cómo se evalúan las vacunas para su seguridad?</h2></center>
<p>Las vacunas recomendadas y con licencia pasan por años de pruebas de seguridad, que incluyen:</p>
<p>* Prueba y evaluación de la vacuna antes de obtener la licencia de la Administración de Alimentos y Medicamentos (FDA, siglas en inglés) y recomendada para su uso por los Centros para el Control y la Prevención de Enfermedades (CDC, siglas en inglés)</p>
    <p>* Control de la seguridad de la vacuna después de ser recomendada para bebés, niños o adultos</p>
<h3>Las vacunas se evalúan antes de ser recomendadas para su uso</h3>
<p>Antes de que una vacuna se recomiende, se evalúa en laboratorios. Este proceso puede tardar muchos años. La FDA utiliza la información de las pruebas para decidir si probar o no la vacuna en las personas.</p>
<p>Durante un ensayo clínico, la vacuna se evalúa en personas voluntarias a vacunarse. Los ensayos clínicos comienzan con 20 a 100 voluntarios, pero, con el tiempo, incluyen a miles de voluntarios. Estas pruebas tardan varios años y responden a preguntas importantes como:</p>
<p>1. ¿Es segura la vacuna?</p>
<p>2. ¿Qué dosis (cantidad) funciona mejor?</p>
<p>3. ¿Cómo reacciona el sistema inmunitario a ella?</p>
<center><h4>Cada lote de vacunas se evalúa en cuanto a su calidad y seguridad.</h4></center>
<p> Una vez que se aprueba la vacuna, continúa siendo evaluada. La compañía que fabrica la vacuna evalúa los lotes para garantizar que la vacuna sea:</p>
<p>- Potente (funcione como debe)</p>
<p>- Pura (se hayan eliminado ciertos ingredientes utilizados durante la producción)</p>
<p>- Estéril (no contenga gérmenes externos)</p>
	
	
</div>	



<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>